# Базовые настройки
Options -Indexes +FollowSymLinks
AddDefaultCharset UTF-8

# Включаем движок перезаписи
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Проверка существования файлов
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]
  
  # Переадресация с /R36S_CONSOLE_STORE_JS/ на /r36s.pro/
  RewriteRule ^R36S_CONSOLE_STORE_JS/(.*)$ /r36s.pro/$1 [L]
  
  # Если запрос идет к языковой версии
  RewriteCond %{REQUEST_URI} ^/r36s.pro/(en|ru|ar|be|de|es|fr|it|ja|ko|nl|pt|tr|uk)/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^r36s.pro/(en|ru|ar|be|de|es|fr|it|ja|ko|nl|pt|tr|uk)/(.*)$ /r36s.pro/$1/index.html [L]
  
  # Для корневого пути r36s.pro без дополнительных сегментов
  RewriteRule ^r36s.pro/?$ /r36s.pro/index.html [L]
</IfModule>

# Настройки MIME типов
<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType text/css .css
  AddType image/svg+xml .svg
</IfModule>