<header class="header visible">
  <div class="header_nav">
    <a class="logo">R36S</a>
    <div class="language-selector">
      <select id="language-selector" aria-label="Change language">
        <!-- Опции будут добавлены через JavaScript -->
      </select>
    </div>
    <ul class="desktop-menu">
      <li>
        <a
          class="our-menu-link"
          href="#features-r36s"
          data-i18n="header.functionality"
          >Functionality</a
        >
      </li>
      <li>
        <a class="our-menu-link" href="#features" data-i18n="header.about"
          >About R36S</a
        >
      </li>
      <li>
        <a class="our-menu-link" href="#categories" data-i18n="header.video"
          >Video</a
        >
      </li>
      <li>
        <a class="our-menu-link" href="#reviews" data-i18n="header.reviews"
          >Reviews</a
        >
      </li>
      <li>
        <a class="our-menu-link" href="#contact" data-i18n="header.contacts"
          >Contacts</a
        >
      </li>
    </ul>

    <button class="burger-btn" aria-expanded="false" aria-label="Toggle menu">
      <span class="burger-line"></span>
    </button>
  </div>
</header>
