/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');
/* @import url('./media-placeholders.css'); */

/* Sections style */
@import url('./header.css');
@import url('./mobilemenu.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./features.css');
@import url('./modalabout.css');
@import url('./categories.css');
@import url('./articles.css');
@import url('./reviews.css');
@import url('./products.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./partnershipmodal.css');